<p id="notice"><%= notice %></p>

<h1>Sum0 Publisher Test Environment: Co-reg Feed</h1>
<iframe src="https://frozen-fjord-36346.herokuapp.com/api/v1/ad_serve/10/lead_ad" width="100%" frameborder="0" allowfullscreen scrolling="no"></iframe>
