<p id="notice"><%= notice %></p>

<h1>Sum0 Publisher Test Environment: Co-reg Feed</h1>
<iframe src="https://frozen-fjord-36346.herokuapp.com/api/v1/ad_serve/6/lead_ad" width="100%" height="600px" frameborder="0" id="iframe-id" allowfullscreen scrolling="no"></iframe>
