<p id="notice"><%= notice %></p>

<h1>Sum0 Publisher Test Environment: Click Feed</h1>

<iframe src="https://frozen-fjord-36346.herokuapp.com/api/v1/ad_serve/4/click_ad" width="100%" frameborder="0" allowfullscreen scrolling="no"></iframe>


<script>
  var h= ($('iframe').contents().height() );
  $('iframe').css({
    'height': 6 * h
  });
</script>
